This notebook will create 1 dataframe from all four modules
Shuffle and Randomly partition that one dataframe 

80%train + Cross validation: This data set is used to compare the performances of the prediction algorithms that were created based on the training set. We choose the algorithm that has the best performance.

##############
20%test: Once we have chosen our preferred prediction algorithm but we don't know yet how it's going to perform on 
completely new real-world data. So, we apply our chosen prediction algorithm on our test set in order to see how 
it's going to perform so we can have an idea about our algorithm's performance on new data.
##############

In [1]:
def generateDF(featuresFile, profiledFile):
    #reads featurefiles and projects 3 columns (ppn, sizeGB, Ytime)
    #reads profiledFile (the table from profiling) and reads all 55 columns
    #generates one dataframe with 58 columns and n rows (=size of profiled data from csv)
    import pandas as pd
    from IPython.display import display

    header='ft1 ft2 ft3 ft4 ft5 ft6 ft7 ft8 ft9 ft10 ft11 ft12 ft13 ft14 ft15 ft16 ft17 \
    ft18 ft24 ft25 ft19 ft39 ft20 ft33 ft21 ft35 ft22 ft23 ft34 ft36 ft37 ft38 ft40 ft41 \
    ft42 ft43 ft44 ft45 ft46 ft48 ft47 ft49 ft51 ft50 ft52 ft53 ft54 ft55 ft26 ft27 ft28 ft29 ft30 ft31 ft32'
    
    def value(item):
        return item[item.find('=')+1:]
    
    print("Reading features from %s" % featuresFile)
    df_features = pd.read_table(featuresFile, header=None, delimiter=',',
                       converters={i:value for i in range(55)},
                       names=header.split())
    df_features = df_features.astype(float)
    #print(df_features.head(2))
    
    ################################
    #read profiledFile
    df_profiled = pd.read_csv(profiledFile)
    if 'Unnamed: 0' in df_profiled.columns:
        del df_profiled['Unnamed: 0']
    df_profiled = df_profiled.astype(float)
    rows = df_profiled.shape[0]
    
    #project columns of use
    df_profiled = df_profiled[['ppn','sizeGB','Y_time']]
    print("Reading profiled file %s\t: %s" % (profiledFile,str(df_profiled.shape)))
    
    ################################
    # create dataframe from featuresFile static program features with same #ROWs
    frames = [df_features for i in range(rows)]
    program_ft = pd.concat(frames)
    program_ft.reset_index(inplace=True)
    del program_ft['index']
    print("Shape of program static features\t\t\t\t\t: %s " % str(program_ft.shape))
    
    ################################
    # concatenate static features (55) with profiled data (3)
    ft_plus_profiled = pd.concat([df_profiled, program_ft], axis=1, join_axes=[df_profiled.index])
    ft_plus_profiled['y_time']=ft_plus_profiled['Y_time'] # so that y_time is last column
    del ft_plus_profiled['Y_time']
    print("Returning concatenated data frame (ft + profiled data)\t\t\t: %s" % str(ft_plus_profiled.shape))
    #display(ft_plus_profiled.tail(5))    
    
    return ft_plus_profiled

In [2]:
# stack two dataframes on top of each other
def stackDFs(df1, df2):
    import copy
    import pandas as pd
    
    frames = [copy.deepcopy(df1), copy.deepcopy(df2)]
    both = pd.concat(frames)
    both.reset_index(inplace=True)
    del both['index']
    return both

## A=cdhitdup, B=frhit, C=velvetG, D=velvetH

In [3]:
#
############################################################################################
############################################################################################
################################## cdhitdup ################################################
############################################################################################
############################################################################################
#

In [4]:
df_cdhitdup = generateDF('./features/cdhitdup_singlecmd_features.txt','./profiledcsvfiles/cdhitdup_ppn_sizeGB_Ytime.csv')
df_cdhitdup.shape

Reading features from ./features/cdhitdup_singlecmd_features.txt
Reading profiled file ./profiledcsvfiles/cdhitdup_ppn_sizeGB_Ytime.csv	: (32, 3)
Shape of program static features					: (32, 55)
Returning concatenated data frame (ft + profiled data)			: (32, 58)

(32, 58)

In [7]:
df_cdhitdup['label']='A'
df_cdhitdup.head(2)

,ppn,sizeGB,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,...,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32,y_time,label
0,11.0,1.570312,2984.0,1149.0,1350.0,1.0,1794.0,748.0,140.0,865.0,...,3.0,83.41,197.65,669.0,230.0,1783.0,26.0,873.0,45.82,A
1,11.0,2.400000,2984.0,1149.0,1350.0,1.0,1794.0,748.0,140.0,865.0,...,3.0,83.41,197.65,669.0,230.0,1783.0,26.0,873.0,67.97,A

## A=cdhitdup, B=frhit, C=velvetG, D=velvetH

In [10]:
from IPython.display import display

In [11]:
#
############################################################################################
############################################################################################
##################################### frhit ################################################
############################################################################################
############################################################################################
#

In [12]:
df_frhit = generateDF('./features/frhit_singlecmd_features.txt', './profiledcsvfiles/frhit_ppn_sizeGB_Ytime.csv')

Reading features from ./features/frhit_singlecmd_features.txt
Reading profiled file ./profiledcsvfiles/frhit_ppn_sizeGB_Ytime.csv	: (96, 3)
Shape of program static features					: (96, 55)
Returning concatenated data frame (ft + profiled data)			: (96, 58)

In [14]:
df_frhit['label']='B'
df_frhit.head(2)

,ppn,sizeGB,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,...,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32,y_time,label
0,11.0,0.001563,2286.0,985.0,973.0,24.0,1436.0,577.0,113.0,778.0,...,5.0,126.11,152.59,223.0,458.0,1445.0,0.0,681.0,1732.64,B
1,2.0,0.001563,2286.0,985.0,973.0,24.0,1436.0,577.0,113.0,778.0,...,5.0,126.11,152.59,223.0,458.0,1445.0,0.0,681.0,1583.26,B

In [8]:
#
############################################################################################
############################################################################################
##################################### velvetH ##############################################
############################################################################################
############################################################################################
#

## A=cdhitdup, B=frhit, C=velvetG, D=velvetH

In [15]:
df_hvelvetH = generateDF('./features/velveth_singlecmd_features.txt','./profiledcsvfiles/velvetH_ppn_sizeGB_Ytime.csv')

Reading features from ./features/velveth_singlecmd_features.txt
Reading profiled file ./profiledcsvfiles/velvetH_ppn_sizeGB_Ytime.csv	: (97, 3)
Shape of program static features					: (97, 55)
Returning concatenated data frame (ft + profiled data)			: (97, 58)

In [17]:
df_hvelvetH['label']='D'
df_hvelvetH.head(2)

,ppn,sizeGB,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,...,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32,y_time,label
0,11.0,1.568359,2301.0,833.0,979.0,14.0,1428.0,503.0,132.0,631.0,...,22.0,88.28,195.57,224.0,347.0,1492.0,13.0,558.0,464.01,D
1,11.0,1.568359,2301.0,833.0,979.0,14.0,1428.0,503.0,132.0,631.0,...,22.0,88.28,195.57,224.0,347.0,1492.0,13.0,558.0,503.73,D

In [18]:
#
############################################################################################
############################################################################################
##################################### velvetG ##############################################
############################################################################################
############################################################################################
#

In [19]:
df_gvelvetG = generateDF('./features/velvetg_singlecmd_features.txt','./profiledcsvfiles/velvetG_ppn_sizeGB_Ytime.csv')

Reading features from ./features/velvetg_singlecmd_features.txt
Reading profiled file ./profiledcsvfiles/velvetG_ppn_sizeGB_Ytime.csv	: (97, 3)
Shape of program static features					: (97, 55)
Returning concatenated data frame (ft + profiled data)			: (97, 58)

## A=cdhitdup, B=frhit, C=velvetG, D=velvetH

In [20]:
df_gvelvetG['label']='C'
df_gvelvetG.head(2)

,ppn,sizeGB,ft1,ft2,ft3,ft4,ft5,ft6,ft7,ft8,...,ft55,ft26,ft27,ft28,ft29,ft30,ft31,ft32,y_time,label
0,11.0,2.42,9837.0,4069.0,3972.0,78.0,6043.0,2139.0,633.0,3149.0,...,298.0,349.07,777.61,1330.0,1353.0,6132.0,67.0,2616.0,640.49,C
1,11.0,2.42,9837.0,4069.0,3972.0,78.0,6043.0,2139.0,633.0,3149.0,...,298.0,349.07,777.61,1330.0,1353.0,6132.0,67.0,2616.0,693.29,C

### Stack 4 dfs: df_gvelvetG, df_hvelvetH, df_cdhitdup, df_frhit

In [21]:
import numpy as np
import pandas as pd

In [22]:
frames = [df_cdhitdup, df_frhit, df_hvelvetH, df_gvelvetG]
result = pd.concat(frames)
result.reset_index(inplace=True)
del result['index']

In [23]:
features = result.columns[0:57]
target = [result.columns[57]]

In [24]:
len(features), features

(57,
 Index(['ppn', 'sizeGB', 'ft1', 'ft2', 'ft3', 'ft4', 'ft5', 'ft6', 'ft7', 'ft8',
        'ft9', 'ft10', 'ft11', 'ft12', 'ft13', 'ft14', 'ft15', 'ft16', 'ft17',
        'ft18', 'ft24', 'ft25', 'ft19', 'ft39', 'ft20', 'ft33', 'ft21', 'ft35',
        'ft22', 'ft23', 'ft34', 'ft36', 'ft37', 'ft38', 'ft40', 'ft41', 'ft42',
        'ft43', 'ft44', 'ft45', 'ft46', 'ft48', 'ft47', 'ft49', 'ft51', 'ft50',
        'ft52', 'ft53', 'ft54', 'ft55', 'ft26', 'ft27', 'ft28', 'ft29', 'ft30',
        'ft31', 'ft32'],
       dtype='object'))

In [25]:
len(target), target

(1, ['y_time'])

In [26]:
len(result.columns)

59

In [27]:
###@@@@@@@@@@@@@@@@@@@@@@@@

## Split into Test and Train

0    D
1    B
Name: label, dtype: object

In [51]:
# AB: Train Set, and |testSet|

def twoTrainingSets(trainList, testList):
    #copy from concatenated dataframe
    ft0 =result.dropna().copy(deep=True)

    # shuffle
    ####################################
    ft1  =ft0.iloc[np.random.permutation(len(ft0))]
    ft2  =ft1.reset_index(drop=True)
    ft2['label'].head(2)

    # pick
    ####################################
    ft        = ft2.loc[ft2['label'].isin(trainList)]
    testSet   = ft2.loc[ft2['label'].isin(testList)]

    ft_subset.shape, testSet.shape, ft0.shape

    # train and test
    ####################################
    features = result.columns[0:57]
    target = [result.columns[57]]

    X_train = ft[features]
    y_train = ft[target].values.ravel()

    X_test = testSet[features]
    y_test = testSet[target].values.ravel()

    # Store this partition to all modules use this
    # dictionary
    ####################################
    d = { 'X_train': X_train, 'y_train': y_train, 'X_test':X_test, 'y_test': y_test }

    # Write to file
    ####################################
    import pickle
    
    filename = trainList[0] + trainList[1] + '.pickle'
    with open(filename, 'wb') as handle:
        pickle.dump(d, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [48]:
trainList = ['AB','BC','CD','AC','AD','BD']
testList  = ['CD','AD','AB','BD','BC','AC']

'AB.pickle'